*.exe
*.dll
*/bin/*
*/obj/*
*/publish/*
obj/*
publish/*
bin/*
*.psess
*.pfx
!library/*
*.vsp
/.vs
/packages
*.csproj.vspscc
*.csproj.user
*.suo
TestVCF/testData/*.vcf
TestVCF/testData/ghdx.txt
*.nupkg
